.layout {
    height: 100vh;
}

.form {
   height: 100vh;
}

.content {
    padding: 24px 50px;
    overflow-y: auto;
}

.header {
    background: unset!important;
}

.footer {
    background: unset!important;
}